.cards__header {
  display: flex;
  justify-content: space-between;
  margin: 2.5rem 1.5rem;
  border-bottom: 2px solid var(--color-primary);
  padding-bottom: 0.5rem;
}

.cards__header p {
  font-weight: 800;
  text-transform: uppercase;
}
.cards__header a {
  font-size: 1.2rem;
  color: #9b9b9b;
}

.cards__main-img {
  width: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 1000px) {
  .cards__main-img {
    width: 100%;
    height: 17rem;
  }

  .cards__header p {
    font-size: 2rem;
  }

  .cards__header a {
    font-size: 1.6rem;
  }
}
