.featured__footer {
  font-size: 1.2rem;
  padding: 0.5rem 0.5rem 1rem 2rem;
  color: var(--color-black);
  font-weight: 600;
}

.featured__cards {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  width: 100%;
  padding: 0rem 1rem;
}

.featured__card {
  min-width: 24.5rem;
  background-color: var(--color-white);
  color: var(--default-font-color-light);
}

.featured__continer {
  position: relative;
}

.featured__imgs {
  position: relative;
  overflow: hidden;
}

.featured__imgs:hover .featured__overlay {
  opacity: 1;
  margin: 0rem auto;
  transition: opacity 1s ease, margin 0.5s ease;
}

.featured__overlay {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c0000d8;
  border: 2px solid var(--color-white);
  border-top: none;
  margin: -15rem auto;
  opacity: 0;
  width: 90%;
  height: 90%;
  transition: opacity 1s ease, margin 1s ease;
}

.featured__overlay button {
  background-color: var(--color-primary);
  color: var(--color-white);
  border-radius: 0.2rem;
  padding: 1rem 2.4rem;
}

.featured__tag {
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 0.5rem;
  color: var(--color-white);
  position: absolute;
  left: -0.5rem;
  top: 0.8rem;
  font-weight: 600;
  z-index: 1;
}

.featured__ribbon-tip {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  z-index: 1;
}

.featured__hot {
  background-color: red;
}

.featured__hot-tip {
  border-top: 5px solid #b35409;
}

.featured__exclusive {
  background-color: var(--color-off-black);
}

.featured__exclusive-tip {
  border-top: 5px solid #5a5a5a;
}

.featured__new {
  background-color: #f60;
}

.featured__new-tip {
  border-top: 5px solid #b35409;
}

@media only screen and (min-width: 1000px) {
  .featured__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0rem 1rem;
  }

  .featured__card {
    min-width: 0rem;
    width: 28rem;
    background-color: var(--color-white);
    color: var(--default-font-color-light);
  }
}
