.promotions__icon {
  position: absolute;
  left: 0;
  top: 0;
  height: 3.6rem;
  width: 3.6rem;
  padding: 0.8rem;
  background-color: var(--color-primary);
}

.promotions__footer {
  font-size: 1.2rem;
  padding: 1.5rem 2rem;
}

.promotions__footer-btn {
  display: none;
}

.promotions__register-bar {
  display: none;
}

.promotions__cards {
  display: flex;
  gap: 1rem;
  overflow-x: auto;
  width: 100%;
  padding: 0rem 1rem;
  margin-block: 3rem;
}

.promotions__title {
  display: none;
}

.promotions__imgs {
  position: relative;
}

.promotions__card {
  min-width: 24.5rem;
  background-color: var(--color-white);
  color: var(--default-font-color-light);
  margin-block: 1rem;
  transition: all 0.2s ease-in;
}

.promotions__card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.promotions__card:first-child {
  margin-left: 1rem;
}

@media only screen and (min-width: 1000px) {
  .section__promotions > .cards__header {
    display: none;
  }

  .promotions__register-bar {
    display: flex;
    justify-content: space-around;
    padding: 3rem 0rem;
    margin-bottom: -4rem;
  }

  .promotions__step-container {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
  }

  .promotions__step {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 5rem;
    height: 5rem;
    font-size: 3.5rem;
    font-weight: 700;
    background-color: var(--color-primary);
    color: var(--color-white);
  }

  .promotions__step-content {
    font-size: 2.6rem;
    font-weight: 600;
    color: var(--color-black);
  }

  .promotions__title {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 1rem 2rem;
    color: var(--color-black);
  }

  .promotions__card:first-child {
    margin-left: 0rem;
  }

  .promotions__icon {
    position: absolute;
    left: 1rem;
    top: -2.5rem;
    height: 3.6rem;
    width: 3.6rem;
    padding: 0.8rem;
    background-color: var(--color-primary);
  }

  .promotions__footer {
    display: flex;
    gap: 5rem;
    font-size: 1.2rem;
    padding: 2rem 2rem;
  }

  .promotions__footer div {
    flex: 1;
  }

  .promotions__footer-btn {
    display: block;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 0.2rem;
    padding: 1rem 1rem;
    font-weight: 400;
  }
}
