.cookie__container {
  margin: 0 auto;
  max-width: 1170px;
  display: none;
}

.cookie__main-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: var(--color-off-black);
  gap: 1rem;
  z-index: 999;
  position: fixed;
  bottom: 0;
  right: 0;
  color: var(--color-white);
  padding: 3rem;
  border: 1px solid var(--color-white);
  border-radius: 3px;
}

.cookie__title {
  font-weight: 800;
}

.cookie__content {
  font-size: 1.2rem;
  font-weight: 300;
}

.cookie__link {
  color: var(--color-primary);
}

.cookie__button {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-white);
  border-radius: 2px;
  background: var(--color-primary);
  padding: 0.6rem 5.7rem;
  transition: transform 0.2s ease;
}

.cookie__button:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.cookie__button:active {
  transform: scale(1);
  transition: transform 0.2s ease;
}

@media only screen and (min-width: 1000px) {
  .cookie__main-content {
    width: 45rem;
    border: 5px solid var(--color-white);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    right: 2rem;
    bottom: 2rem;
  }
}
