.header {
  background-color: var(--color-primary);
  width: 100vw;
}

.header__main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  background-color: var(--color-primary);
  padding-block: 1.5rem;
  max-width: 1170px;
  margin: 0 auto;
}

.header__nav-container {
  display: none;
}

.header__burger {
  display: flex;
  align-self: center;
  position: absolute;
  left: 1.6rem;
  top: 1.2rem;
  height: 3.2rem;
}

.header__betsson {
  display: flex;
  align-self: center;
  height: 2.7rem;
}

.header__quick-links {
  display: flex;
  gap: 0.7rem;
}

.header__btn {
  color: var(--color-white);
  border-radius: 0.4rem;
  padding: 0.6rem 5.7rem;
}

.header__support-icon {
  display: none;
}

.header__enter-btn {
  background-color: var(--color-primary);
  border: 0.1rem var(--color-white) solid;
  transition: transform 0.2s ease;
}

.header__enter-btn:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease;
}

.header__register-btn {
  background-color: var(--color-secondary-btn);
}

@media only screen and (min-width: 700px) {
  .header__burger img {
    height: 4rem;
  }
}

@media only screen and (min-width: 1000px) {
  .header__main-content {
    flex-direction: row;
    justify-content: space-between;
    padding-block: 2rem;
  }

  .header__burger {
    display: none;
  }

  .header__betsson {
    height: 2.2rem;
  }

  .header__nav {
    display: flex;
    gap: 3.5rem;
  }

  .header__nav-container {
    display: flex;
    align-items: end;
    gap: 3.5rem;
  }

  .header__nav-link {
    display: block;
    color: hsla(0, 0%, 100%, 0.871);
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .header__support-icon {
    display: block;
    background: rgba(0, 0, 0, 0.121569);
    border-radius: 100px;
    padding: 0.4rem;
    width: 3rem;
  }

  .header__btn {
    font-size: 1.6rem;
    border-radius: 2rem;
  }

  .header__quick-links {
    align-items: center;
  }

  .header__quick-links > .header__enter-btn {
    background-color: var(--color-off-black);
    border: none;
    padding-inline: 2.4rem;
    padding-block: 0.8rem;
  }

  .header__quick-links > .header__register-btn {
    padding-block: 0.8rem;
    padding-inline: 3rem;
  }
}
