.section__slider {
  transform: translateX(-100%);
}

.slider__carousel {
  display: flex;
  transition: all 0.2s ease-in;
}

.slider__slide {
  position: relative;
  min-width: 100%;
}

.slider__img {
  display: block;
  height: auto;
  width: 100%;
  min-height: 17rem;
  background-position: center top;
  background-size: cover;
}

.slider__img-1 {
  background-image: url("/src/imgs/Sliders/smallImg/smallSlider1.jpg");
}
.slider__img-2 {
  background-image: url("/src/imgs/Sliders/smallImg/smallSlider2.jpg");
}
.slider__img-3 {
  background-image: url("/src/imgs/Sliders/smallImg/smallSlider3.jpg");
}

.slider__content {
  position: absolute;
  bottom: 0rem;
  width: 100%;
  padding: 0.9rem 1.9rem;
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0.45);
}

.slider__promo-title {
  font-weight: 700;
}

.slider__promo-name {
  font-size: 1.2rem;
}

.slider__content-btn {
  display: none;
}

.slider__prev {
  display: none;
}

.slider__next {
  position: absolute;
  width: 18px;
  height: 18px;
  bottom: calc(50% - 9px);
  right: 2rem;
}

@media only screen and (min-width: 1000px) {
  .slider__img {
    display: block;
    height: auto;
    width: 100%;
    min-height: 30rem;
    background-position: right center;
    background-size: cover;
  }

  .slider__img-1 {
    background-image: url("/src/imgs/Sliders/bigImg/bigSlider1.jpg");
  }
  .slider__img-2 {
    background-image: url("/src/imgs/Sliders/bigImg/bigSlider2.jpg");
  }
  .slider__img-3 {
    background-image: url("/src/imgs/Sliders/bigImg/bigSlider3.jpg");
  }

  .slider__promo-title {
    font-size: 2.6rem;
  }

  .slider__promo-name {
    font-size: 1.6rem;
    margin-top: 0.2rem;
  }

  .slider__content {
    bottom: 5rem;
    left: 10rem;
    width: 45rem;
    padding: 3rem 4rem;
    border: 1px solid var(--color-white);
  }

  .slider__content-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
  }

  .slider__content-btn {
    display: block;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 0.2rem;
    padding: 1.2rem 3rem;
  }

  .slider__arrows {
    display: flex;
    gap: 1rem;
  }

  .slider__arrows img {
    width: 3.4rem;
    height: 3.4rem;
  }

  .slider__prev {
    position: static;
    display: block;
    width: 3.4rem;
    height: 3.4rem;
    transform: rotate(180deg);
  }

  .slider__next {
    position: static;
    display: block;
    width: 3.4rem;
    height: 3.4rem;
  }
}

@media only screen and (min-width: 1750px) {
  .slider__content {
    bottom: 5rem;
    left: 42rem;
  }
}
