:root {
  --color-primary: #ff6600;
  --color-white: #fff;
  --color-black: #000;
  --color-off-white: #f4f7fc;
  --color-off-black: #2d2d2d;
  --color-secondary-btn: #40b840;

  --default-font-color: #2d2d2d;
  --default-font-color-light: #2d2d2d9c;
  --color-font-footer: #9b9b9b;
  --default-font-size: 1.4rem;
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  text-decoration: none;
  border: none;
  background: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: var(--color-off-white);
  color: var(--default-font-color);
  font-size: var(--default-font-size);
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

ul,
li {
  list-style-type: none;
}

::-webkit-scrollbar {
  width: 0.6rem;
  height: 0.6rem;
}

::-webkit-scrollbar-thumb {
  height: 20rem;
  background: linear-gradient(#ff6600, #d85803);
}

.main__content {
  max-width: 1170px;
  margin: 0 auto;
}
